################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Thor/.vs
/Thor/bin/Debug/net6.0
/Thor/.cr/personal
/Thor/obj
*.user
