@page "/"

<PageTitle>Dashboard</PageTitle>

<h1>Dashboard</h1>

<SurveyPrompt Title="How is Blazor working for you?" />

<div class="row">
    <div class="col-6">
        <NavLink class="nav-link" href="utilitybills">
            <span aria-hidden="true"></span> Utility Bills
        </NavLink>
    </div>

    <div class="col-6">
        <NavLink class="nav-link" href="monthlyactivities">
            <span aria-hidden="true"></span> Monthly Activities
        </NavLink>
    </div>
</div>
